In [44]:
import pandas as pd
import seaborn as sns
import numpy as np
import scipy.stats
import pingouin as pg
from pingouin import ttest

In [2]:
df = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-ro-a/Statistika/lesson4/experiment_lesson_4.csv')

In [8]:
df

       order_id  delivery_time  district experiment_group
0          3159           44.0  Purlieus          control
1         10426           51.0  Purlieus          control
2          9155           46.0  Purlieus          control
3         10699           34.0  Purlieus          control
4         10061           43.0  Purlieus          control
...         ...            ...       ...              ...
20191     14561           42.0    Suburb             test
20192     12015           32.0    Suburb             test
20193     20077           23.0  Purlieus             test
20194     14861           41.0   Central             test
20195     13501           41.0   Central             test

[20196 rows x 4 columns]

In [18]:
control = df.query('experiment_group == "control"').delivery_time

In [19]:
scipy.stats.normaltest(control)

NormaltestResult(statistic=0.25349755437872584, pvalue=0.8809549607809654)

In [20]:
test = df.query('experiment_group == "test"').delivery_time

In [21]:
scipy.stats.normaltest(test)

NormaltestResult(statistic=7.024157092641915, pvalue=0.02983483685333173)

In [22]:
test.std()

9.883308351129061

In [23]:
control.std()

9.990016960246372

In [36]:
pg.normality(control, method='normaltest')

                      W      pval  normal
delivery_time  0.253498  0.880955    True

In [30]:
pg.normality(test, method='normaltest')

                      W      pval  normal
delivery_time  7.024157  0.029835   False

In [35]:
scipy.stats.ttest_ind(test, control)

Ttest_indResult(statistic=-43.03582663183714, pvalue=0.0)

In [41]:
testmean = df.query('experiment_group == "test"').delivery_time.mean()
testmean

39.04681314330958

In [42]:
controlmean = df.query('experiment_group == "control"').delivery_time.mean()
controlmean

45.065101070154576

In [39]:
allmean = (testmean - controlmean) / controlmean * 100

In [40]:
round(allmean, 2)

-13.35

In [45]:
pg.ttest(test, control)

/opt/tljh/user/lib/python3.7/site-packages/pingouin/bayesian.py:146: RuntimeWarning: divide by zero encountered in double_scalars
  bf10 = 1 / ((1 + t**2 / df)**(-(df + 1) / 2) / integr)

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,-43.035552,20191.127788,two-sided,0.0,"[-6.29, -5.74]",0.605658,inf,1.0

In [2]:
from scipy.special import comb

In [6]:
comb(3,2)

3.0

In [5]:
0.05/3

0.016666666666666666