In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-ro-a/product/dating_data.csv')

In [3]:
data

       user_id_1  user_id_2  group  is_match
0             79         91      1         1
1            716        353      1         1
2            423        677      0         0
3            658        165      1         1
4            969        155      0         1
...          ...        ...    ...       ...
14509        476        631      0         0
14510        455        770      1         0
14511        260          6      1         1
14512        885        812      1         1
14513        357        810      1         1

[14514 rows x 4 columns]

In [52]:
user1 = data.query('group == 0')

In [53]:
user11 = user1.groupby('user_id_1', as_index=False).agg({'user_id_1':'count', 'is_match':'sum'})

In [54]:
user11['dolya'] = round(user11.is_match/user11.user_id_1,2)

In [55]:
user11.mean()

user_id_1    9.564870
is_match     1.864271
dolya        0.193593
dtype: float64